@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #111;
  color: white;
  margin: 0;
  padding: 10px; /* spacing from screen edges */
}

.title {
  margin: 30px 0;
  font-weight: 700;
  text-align: center;
}

.button-row {
  display: flex;
  flex-direction: row;       /* buttons in a row */
  gap: 20px;                 /* space between buttons */
  justify-content: center;   /* center row */
}

.menu-btn {
  flex: 1;                   /* each button takes equal width */
  min-width: 150px;          /* optional minimum width */
  height: 220px;

  background: #1e1e1e;
  border: none;
  border-radius: 0;          /* sharp 90° corners */

  color: white;
  font-size: 22px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  transition: 0.2s;
}

.menu-btn:hover {
  background: #2a2a2a;
}

.menu-btn img {
  width: 120px;
  height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}
